</br>

</br>

</br>
<div class = "container">


<h1>Edit Comment</h1>

 <%= form_with model: @comment, url: user_product_comment_path, html: {method: :patch}, local: true do |form| %>

   <p><%= form.text_area :user_comment %></p>
   <p><%= form.submit %></p>


 <% end %>


</div>