
<div class = "container">
		<h1>CarouHell</h1>

		<h2> These are the products</h2>


		<div class = "container">
		<div class="row">
		<% @products.each do |product| %>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading"><%= product.product_name %></div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">$<%= product.price %></div>
      </div>
     </div>
  		<%end %>
    </div>
  </div>




</div>