<div class = "container">
	</br>
	</br>
	</br>
	<div class="container">
        <div class="row">
			<div class="col-xs-4 item-photo">

			   	<%= image_tag(@product.image_url, :alt => "entry", :class => "col-xs-4 item-photo" :width => 250, :height => 100)%>


            </div>

            <div class="col-xs-5" style="border:0px solid gray">
                	</br>
                	</br>
                <div class="card-body text-primary" style="max-width: 30rem;">
					<div class="card-header bg-transparent border-primary">
						  	<h3><%= @product.product_name %></h3>
					</div>

					<div class="card-body text-primary">
						<h8 style="color:#337ab7">Seller: </h8>
                    	<h5><p><a href="#">Travis</a><small style="color:#337ab7"></small></p></h5>
                    	<h8 style="color:#337ab7">Price: </h8>
                    	<h4 style="margin-top:0px; color:#2E64FE ">SGD$<%= @product.price %></h4>
					</div>

					<div class="card-footer bg-transparent border-primary">
							<p class="card-text">TrueDepth camera. Exceptional materials. Intelligent A12 Bonic. 12MP rear camera. Advanced Face ID. Liquid retina.</p>
						<div class="section" style="padding-bottom:20px;">
							<button type="button" class="btn btn-primary">BUY</button>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>

